# ================================================================
#  .gitignore — Supermercado Facturacion
#  Archivos que NUNCA deben subirse al repositorio
# ================================================================

# ---------------------------------------------------------------
#  CREDENCIALES Y CONFIGURACION SENSIBLE
#  El archivo real config.properties tiene usuario y password
# ---------------------------------------------------------------
src/main/resources/config.properties
config.properties
credenciales base de datos posgrest.txt


# ---------------------------------------------------------------
#  COMPILACION Y BUILD
# ---------------------------------------------------------------
target/
*.class
*.jar

# ---------------------------------------------------------------
#  REPORTES Y PDFs GENERADOS
#  Son archivos de salida, no de codigo fuente
# ---------------------------------------------------------------
reportes/
imagenes/

# ---------------------------------------------------------------
#  IDE Y SISTEMA OPERATIVO
# ---------------------------------------------------------------
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db

# ---------------------------------------------------------------
#  LOGS DE LA APLICACION
# ---------------------------------------------------------------
*.log
logs/
